@import "colors.css";
@import "clock.css";
@import "network.css";
@import "power.css";
@import "pulseaudio.css";
@import "sys.css";
@import "workspaces.css";

window#waybar {
  background-color: transparent;
  border-radius: 999px;
  box-shadow: none;
}

button:hover {
  background: none;
  background-image: none;
  box-shadow: none;
  border: none;
}

tooltip {
  background-color: rgba(235, 5, 96, 0.5);
  font-size: 15px;
  text-shadow: none;
  border: none;
}

tooltip label {
  color: @first;
}

#network,
#custom-sys,
#battery {
  font-size: 17px;
  margin: 0 20px;
  background: transparent;
  border-radius:999px;
  color: @first;
}
