@import "colors.css";

#workspaces {
  background: transparent;
  padding: 0 6px;
  font-size: 20px;
  font-family: "Homoarakhn", monospace;
}

#workspaces button {
  border-radius: 0px;
  color: @first;
  background: transparent;
  padding: 4px 15px;
  margin: 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  transition: all 200ms ease;
}


#workspaces button.active {
  color: @first;
  border-bottom-color: @first;
  padding-bottom: 2px;
  transition: all 200ms ease;
}
